<!--<%@ page contentType="text/html;charset=gb2312" %>-->
<!DOCTYPE html>
<html>
<head>
<jsp:useBean id="resultBean" class="mybean.data.User_Vps_Bean" scope="request"/>
<meta charset="UTF-8">
  <link rel="stylesheet" href="webkit.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="grid.css">
  <link rel="stylesheet" href="vendors/css/ionicons.min.css">
</head>
<body>
<center>
<table class="user-table">
  
<caption>虚拟VPS使用列表</caption>
<!--
<%  String []columnName=resultBean.getColumnName(); 
  %>
-->
 <tr>
  <!--
  <%  for(int i=2;i<columnName.length;i++) {
  %>-->    <th>用量量<!--<%=columnName[i] %>--></th>
            <th>用量量</th>
            <th>用量</th>
            <th>生擒时间</th>
            <th>生擒时间</th>
            <th>CPU结束</th>
            <th>GPU卡数</th>
            <th>内字大小</th>
            <th>内字大小</th>
            <th>内字大小</th>
            <th>用量</th>
            
            

            <!--

  <%  }
  %>  --> </tr><!--
  <%  String [][] record = resultBean.getTableRecord();
      for(int i=0;i<record.length;i++) {
  %>    --><tr><!--
  <%     for(int j=2;j<record[i].length;j++) {
  %>        --><td>Record<!--<%= record[i][j] >%--></td>
               <td>用量</td>
               <td>13</td>
               <td>2222.22.22</td>
               <td>2222.22.22</td>
               <td>4量</td>
               <td>22量</td>
               <td>22G</td>
               <td>2T</td>
               <td>windows10</td>
               <td>内字大小用量</td>
               
  <!--<%     }
  %>    --></tr>
  <!--<%  }
  %>-->

</table>
<a href="user_menu_show.html"><i class="ion-close-circled icon-small"></i></a>
<!--<a href="user_menu.jsp">返回</a>-->
</center>
</font></body></HTML>